/*-- scss:rules --*/

/* styles for parameter tables, etc.. ----
*/

/* .doc-section dt code {
    background: none;
} */

.doc-section dt {
    /*background-color: #f8e4d8;*/
    color: green;
    display: block;
}

.doc-section dl dd {
    margin-left: 2rem;
}