/*-- scss:rules --*/

.doc-section dt {
    display: block;
}

.doc-section dl dd {
    margin-left: 2rem;
}

.navbar-brand {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}